<div class="content-box">
  <% form_for @product_type, :html => {:multipart => true, :id => "form_product"}  do |f| %>
  <div class="content-box-header">

    <h3>Editando Valor</h3>
    <ul class="content-box-tabs">
      <li><%=link_to "Dados", "#tab1", :class => "default-tab" %></li>
    </ul>

    <div class="clear"></div>

  </div>

  <div class="content-box-content">
      <div class="tab-content default-tab" id="tab1">
        <fieldset>
          <%= render :partial => f %>

        </fieldset>

        <div class="clear"></div><!-- End .clear -->


      </div>

    
  </div>
  <% end %>
</div>