<% form_for @contact, :url => {:action => :create}, :html => {:class => "form", :id => "contact_form" } do |f|%>
<div class="page1">
	<div class="col-1 col-pad">
		<div class="container">
		<h3>Gerente Administrativo e Operacional</h3>
		<p>Nilton Rezende<br />
			niltonrezende@hotmail.com<br />
			Engenheiro Civil CREA/MG: 135778/D
		</p>
		<ul>
			<li>(33) 8822-9467</li>
			<li>(33) 9127-0602</li>
		</ul>
		</div>
	</div>
	<div class="col-3">

		
		<div class="container">
			<h3>Ou você pode nos enviar uma mensagem</h3>
			<div class="column1">

				<label>Nome:<br /><%=f.text_field :name, :class => "input"%></label>
				<label>E-mail para contato:<br /><%=f.text_field :email, :class => "input"%></label>
				<label>Assunto:<br /><%=f.text_field :subject, :class => "input"%></label>
				<a href="#" class="link" onclick="$('#contact_form').reset()">Apagar</a><a href="#" class="link" onclick="$('#contact_form').submit()">Enviar</a>
				
			</div>
			<div class="column2">
				Mensagem:<br /><%=f.text_area :message %>
			</div>
		</div>
		<%=f.error_messages%>
		<div class="alignright">
		</div>

	</div></div>
<% end %>
