<% form_for @profile do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
	<p>
		<%= f.label :role_ids %><br />
		<% Role.all.each do |t|%>
    <%= check_box_tag "profile[role_ids][]",t.id,@profile.roles.include?(t), :class => "checkbox" %> <%=t.name%><br />
		<% end %>
	</p>
  <p><%= f.submit "Salvar", :class => "btn-enviar" %></p>
<% end %>
