<%title("Cadastro de categorias")%>
<%buttons(link_to "Novo", profiles_path, :class => "btn-novo textrep")%>


<div id="novo">
	<%= render :partial => 'form' %>
</div>
<% form_tag({:action => :destroy_all}, {:id => "form-list",:method => :put}) do%>
<table class="list" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>Código</th>
			<th>Descrição</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<% @profiles.each do |profile|%>
		<tr class="<%=cycle("","zebra")%>">
			<td><%=check_box_tag "ids[]",profile.id%></td>
			<td><%=profile.id%></td>
			<td><%=profile.description%></td>
			<td><div class="list-buttons">
				<%=link_to "", edit_profile_path(profile), :class => "btn-editar" %>
				<%=link_to "", profile_path(profile), :method => :destroy, :class => "btn-excluir" %>
				</div></td>
		</tr>
		<% end%>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="7"><%=link_to_function "Excluir Selecionados", "$('form-list').submit()", :class=>"btn-excluirsel"%></td>
		</tr>
	</tfoot>
</table>
<% end%>

<div id="options-foot">
	
	<div id="pagination">
		<%=pagination @profiles %>
		<br />
		<p><%=@profiles.total_entries%> registros encontrados</p>
	</div>
</div>