<% form_for @project_modification do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :product %><br />
    <%= f.text_field :product %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :province %><br />
    <%= f.text_field :province %>
  </p>
  <p>
    <%= f.label :right_side %><br />
    <%= f.text_field :right_side %>
  </p>
  <p>
    <%= f.label :left_side %><br />
    <%= f.text_field :left_side %>
  </p>
  <p>
    <%= f.label :front_side %><br />
    <%= f.text_field :front_side %>
  </p>
  <p>
    <%= f.label :back_side %><br />
    <%= f.text_field :back_side %>
  </p>
  <p>
    <%= f.label :orientation %><br />
    <%= f.text_field :orientation %>
  </p>
  <p>
    <%= f.label :total_area %><br />
    <%= f.text_field :total_area %>
  </p>
  <p>
    <%= f.label :superior_floor %><br />
    <%= f.text_area :superior_floor %>
  </p>
  <p>
    <%= f.label :inferior_floor %><br />
    <%= f.text_area :inferior_floor %>
  </p>
  <p>
    <%= f.label :observations %><br />
    <%= f.text_area :observations %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
