<div class="content-box">
  <div class="content-box-header">

    <h3>Gerenciamento de Modificações</h3>

    <div class="clear"></div>

  </div>

  <div class="content-box-content">

    <div style="display: block;" class="tab-content default-tab" id="tab1">
      <% form_tag({:action => :destroy_all, :method => :put}, {:id => "form_list", :name => "form_list"} ) do%>
        <table>

          <thead>
            <tr>
              <th><input class="check-all" type="checkbox"></th>
              <th>Produto</th>
							<th>Interessado</th>
							<th>Solicitado em</th>
              <th>Ações</th>
            </tr>

          </thead>

          <tfoot>
            <tr>
              <td colspan="10">
                <div class="bulk-actions align-left">
                  <%= link_to_function "Remover selecionados", "$('#form_list').submit()", :class => "button" %>
                </div>
                <div class="clear"></div>
              </td>
            </tr>
          </tfoot>

          <tbody>
            <% @project_modifications.each do |project_modification| -%>
              <tr class="<%= cycle("","alt-row") %>">
                <td><%= check_box_tag "ids[]",project_modification.id %></td>
								<td><%=h project_modification.product ? project_modification.product.name : "Projeto Criado" %></td>
                <td><%=h project_modification.name%> - <%=h project_modification.email%></td>
                <th><%=l project_modification.created_at%></th>
								<td nowrap="nowrap">
                    <%= edit_icon(project_modification) %>
                    <%= delete_icon(project_modification_path(project_modification)) %>
                </td>
              </tr>
            <% end -%>
          </tbody>

        </table>
      <% end %>

    </div> <!-- End #tab1 -->

  </div>

</div>