<h3>Dados pessoais</h3>
<p>Data da solicitação<br />
  <strong><%=l @project_modification.created_at%></strong>
</p>
<p>Nome:<br />
  <strong><%=h @project_modification.name%></strong>
</p>
<p>Email:<br />
  <strong><%=h @project_modification.email %></strong>
</p>
<p>Telefone:<br />
  <strong><%=h @project_modification.phone %></strong>
</p>

<h3>Endereço do cliente</h3>
<p>Endereço:<br />
  <strong><%=h @project_modification.customer_address %></strong>
</p>
<p>Número:<br />
  <strong><%=h @project_modification.customer_address_number %></strong>
</p>
<p>Complemento:<br />
  <strong><%=h @project_modification.customer_address_complement %></strong>
</p>
<p>Bairro:<br />
  <strong><%=h @project_modification.customer_address_neighborhood %></strong>
</p>
<p>Cidade:<br />
  <strong><%=h @project_modification.customer_address_city %></strong>
</p>
<p>Estado:<br />
  <strong><%=h @project_modification.customer_address_state %></strong>
</p>

<h3>Endereço do projeto</h3>
<p>Endereço:<br />
  <strong><%=h @project_modification.address %></strong>
</p>
<p>Número:<br />
  <strong><%=h @project_modification.house_number %></strong>
</p>
<p>Bairro:<br />
  <strong><%=h @project_modification.neighborhood %></strong>
</p>
<p>Cidade:<br />
  <strong><%=h @project_modification.city %></strong>
</p>
<p>Estado:<br />
  <strong><%=h @project_modification.province %></strong>
</p>
<% if @project_modification.latitude.to_i != 0 && @project_modification.longitude.to_i != 0 %>
<div id="map_canvas" style="width:700px !important; height:500px !important"></div>
<style type="text/css">
#map_canvas { height: 500px; }
</style>
<script type="text/javascript"
src="http://maps.google.com/maps/api/js?sensor=false">
</script>
<script type="text/javascript">
start_map(<%=@project_modification.latitude%>, <%=@project_modification.longitude%>,false);
</script><br />
<% end %>
<h3>Dados do terreno</h3>
<p>Lateral direita:<br />
  <strong><%=h @project_modification.right_side %></strong>
</p>
<p>Lateral esquerda:<br />
  <strong><%=h @project_modification.left_side %></strong>
</p>
<p>Frente:<br />
  <strong><%=h @project_modification.front_side %></strong>
</p>
<p>Atrás:<br />
  <strong><%=h @project_modification.back_side %></strong>
</p>
<p>Onde o sol nasce?<br />
  <strong><%=h @project_modification.orientation %></strong>
</p>
<p>Como é o clima?<br />
  <strong><%=h @project_modification.climatic %></strong>
</p>
<p>Chove muito?<br />
  <strong><%=h bool_to_str(@project_modification.rains) %></strong>
</p>

<h3>Opcional</h3>
<p>Como é o terreno?<br />
  <strong><%=h @project_modification.terrain_type %></strong>
</p>
<p>Qual é localização do terreno?<br />
  <strong><%=h @project_modification.terrain_localization %></strong>
</p>
<p>Os terrenos vizinhos estão construídos?<br />
  <strong><%=h bool_to_str(@project_modification.have_buildings) %></strong>
</p>
<p>Existem prédios na vizinhança?<br />
  <strong><%=h bool_to_str(@project_modification.have_neighborhood) %></strong>
</p>
<p>Necessita de algum quarto no térreo?<br />
  <strong><%=h bool_to_str(@project_modification.floor_room) %></strong>
</p>

<h3>Mais informações</h3>
<p>Quantas pessoas na casa:<br />
  <strong><%=h @project_modification.quantity_people %></strong>
</p>
<p>Tem filhos?<br />
  <strong><%=h bool_to_str(@project_modification.have_childrens) %></strong>
</p>
<p>Idade média dos filhos:<br />
  <strong><%=h @project_modification.age_childrens %></strong>
</p>
<p>Quantos carros a família possui:<br />
  <strong><%=h @project_modification.quantity_cars %></strong>
</p>
<p>Qual a profissão das pessoas da casa? – Comerciante, farmacêutico, etc.<br />
  <strong><%=h @project_modification.activity %></strong>
</p>
<p>Possui idosos na casa?<br />
  <strong><%=h bool_to_str(@project_modification.aged) %></strong>
</p>
<p>Almoçam reunidos na mesa ou separados?<br />
  <strong><%=h bool_to_str(@project_modification.lunch_way) %></strong>
</p>
<p>Reúne a família e parentes em casa?<br />
  <strong><%=h bool_to_str(@project_modification.have_visits) %></strong>
</p>
<p>Assistem TV na sala todos juntos?<br />
  <strong><%=h bool_to_str(@project_modification.tv_together) %></strong>
</p>
<p>Na casa é necessário ter um espaço para leitura?<br />
  <strong><%=h bool_to_str(@project_modification.have_study_place) %></strong>
</p>
<p>Deve haver um local próprio para computador?<br />
  <strong><%=h bool_to_str(@project_modification.have_pc_rooms) %></strong>
</p>
<p>Se possui crianças, gostaria de um quarto próprio pra elas?<br />
  <strong><%=h bool_to_str(@project_modification.have_childrens_rooms) %></strong>
</p>
<p>Gostaria de colocar um ou dois pontos comerciais no pavimento térreo para locação?<br />
  <strong><%=h bool_to_str(@project_modification.floor_for_others) %></strong>
</p>

<h3>Interatividade</h3>
<% unless @project_modification.localization_file_name.blank?%>
<p>Arquivos enviados pelo interessado (imagens e zip):<br />
  <strong><%=link_to @project_modification.localization.url, @project_modification.localization.url %></strong>
</p>
<% end%>
<% unless @project_modification.picture_file_name.blank?%>
<p>Fotos do imóvel enviado pelo cliente:<br />
  <strong><%=link_to @project_modification.picture.url, @project_modification.picture.url%></strong>
</p>
<% end %>
<p>Observações:<br /><strong><%=simple_format @project_modification.observations %></strong>
</p>
<p>Modificações em quartos:<br /><strong><%=simple_format @project_modification.modifications_in_rooms%></strong>
</p>
