<% form_for @news_photo do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :photo_file_name %><br />
    <%= f.text_field :photo_file_name %>
  </p>
  <p>
    <%= f.label :photo_file_size %><br />
    <%= f.text_field :photo_file_size %>
  </p>
  <p>
    <%= f.label :phot_content_type %><br />
    <%= f.text_field :phot_content_type %>
  </p>
  <p>
    <%= f.label :photo_updated_at %><br />
    <%= f.datetime_select :photo_updated_at %>
  </p>
  <p>
    <%= f.label :news %><br />
    <%= f.text_field :news %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
