<% title "News Photos" %>

<table>
  <tr>
    <th>Photo File Name</th>
    <th>Photo File Size</th>
    <th>Phot Content Type</th>
    <th>Photo Updated At</th>
    <th>News</th>
  </tr>
  <% for news_photo in @news_photos %>
    <tr>
      <td><%=h news_photo.photo_file_name %></td>
      <td><%=h news_photo.photo_file_size %></td>
      <td><%=h news_photo.phot_content_type %></td>
      <td><%=h news_photo.photo_updated_at %></td>
      <td><%=h news_photo.news %></td>
      <td><%= link_to "Show", news_photo %></td>
      <td><%= link_to "Edit", edit_news_photo_path(news_photo) %></td>
      <td><%= link_to "Destroy", news_photo, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New News Photo", new_news_photo_path %></p>
