<% title "Comentários" %>

<table>
  <tr>
    <th>Produto</th>
    <th>Pertence ao comentário</th>
    <th>Nome</th>
    <th>Email</th>
    <th>Classificação</th>
    <th>Ativo?</th>
  </tr>
  <% for comment in @comments %>
    <tr>
      <td><%=h comment.product.name %></td>
      <td><%=h comment.comment.name rescue '' %></td>
      <td><%=h comment.name %></td>
      <td><%=h comment.email %></td>
      <td><%=opinions.find{|t| t.last == comment.opinion}.first rescue 'Nenhuma' %></td>
      <td><%=h bool_to_str(comment.active) %></td>
      <td><%= link_to "Exibir", comment %></td>
      <td><%= link_to "Apagar", comment, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
