<div class="content-box">

  <div class="content-box-header">

    <h3>Comentário para o projeto "<%=@comment.product.name%>"</h3>
    <ul class="content-box-tabs">
      <li><%=link_to "Dados gerais", "#tab1", :class => "default-tab" %></li>
      <% if @comment_response.new_record?%>
      <li><%=link_to "Responder comentário", "#tab2" %></li>
      <% end %>
    </ul>

    <div class="clear"></div>

  </div>

  <div class="content-box-content">
      <div class="tab-content default-tab" id="tab1">
        <fieldset>
          <%= render :partial => 'dados' %>

        </fieldset>

        <div class="clear"></div><!-- End .clear -->


      </div>
      <% if @comment_response.new_record?%>
      <div class="tab-content" id="tab2">
        <fieldset>
          <%= render :partial => 'form' %>
        </fieldset>

        <div class="clear"></div><!-- End .clear -->


      </div>
      <% end %>

  </div>
</div>




<p>
  <%= link_to "Destroy", @comment, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", comments_path %>
</p>
