
  <p>
    <%= form.label :name %>
    <%= form.text_field :name,:class => "text-input small-input" %>
  </p>
	<p>
	  <%=form.submit "Salvar", :class => "button", :name => nil%> | <%=link_to "Voltar", attributes_path%>
	</p>