<% if @cart.products.count > 0 %>
  <% if @cart.incomplete %>
  <script type="text/javascript" charset="utf-8">
    // $(document).ready(function() { 
    //   $.blockUI({ 
    //     message: $("#form_cart_incomplete"),
    //     css: { 
    //       top:  ($(window).height() - 400) /2 + 'px', 
    //       left: ($(window).width() - 400) /2 + 'px', 
    //       width: '400px' 
    //     }
    //   });
    // });
  </script>
  <div id="form_cart_incomplete" style="">
    <% form_for(@cart, :url => {:action => :update_customer},
        :html => {:class => "form cart_incomplete"}) do |f| -%>
      <h3>Antes de comprar gostaríamos de conhecê-lo(a) melhor</h3>

      Preencha com seus dados pessoais para realizar a compra:<br /><br />
      <div class="page1">
        <div class="col-1 col-pad">
          <h3>Seu endereço</h3>
          <label>CEP:<br /><%=f.text_field :customer_cep, :class => "input auto", :size => 8, :maxlength => 8, :onblur => "get_endereco(this.value)" %></label>
          <%= f.error_message_on :customer_cep %>
          <label>Endereço:<br /><%=f.text_field :customer_address,:class => "input" %></label>
          <%= f.error_message_on :customer_address %>
          <label>Número:<br /><%=f.text_field :customer_address_number,:class => "input auto", :size => 4, :maxlength => 5 %></label>
          <%= f.error_message_on :customer_address_number %>
          <label>Complemento:<br /><%=f.text_field :customer_address_complement,:class => "input" %></label>
          <label>Bairro:<br /><%=f.text_field :customer_address_neighborhood,:class => "input" %></label>
          <%= f.error_message_on :customer_address_neighborhood %>
          <label>Cidade:<br /><%=f.text_field :customer_address_city,:class => "input" %></label>
          <%= f.error_message_on :customer_address_state %>
          <label>Estado:<br /><%=f.text_field :customer_address_state,:class => "input auto", :size => 2 %></label>
          <%= f.error_message_on :customer_address_state %>
        </div>
        <div class="col-3">
          <h3>Dados pessoais</h3>
          
          <label>Seu nome:<br /><%=f.text_field :customer, :class => "input" %></label>
          <%= f.error_message_on :customer %>
          <label>Email:<br /><%=f.text_field :email, :class => "input" %></label>
          <%= f.error_message_on :email %>
          <label>Telefone:<br /><%=f.text_field :phone_prefix, :class => "input auto", :size => 2, :maxlength => 2 %> - 
          <%=f.text_field :phone, :class => "input auto", :size => 10, :maxlength => 10 %></label>
          <% if !@cart.errors[:phone_prefix].blank? %>
            <%= f.error_message_on :phone_prefix %>
          <% elsif !@cart.errors[:phone].blank? %>
            <%= f.error_message_on :phone %>
          <% end -%>
          
          <a href="javascript:;" class="link" onclick="$('.cart_incomplete').submit()">Enviar</a>    
          
        </div>
      <div>
    <% end -%>
  </div>
  <% else %>
  
  	<% form_tag({:action => "apagar"}, :id => "form") do%>
    <h3>Carrinho de compras</h3>

  	<table class="cart_grid">
  		<tr>
  			<th></th>
  			<th width="50"></th>
  			<th>Projeto</th>
  			<th width="100">Total</th>
  		</tr>
  		<% @cart.products.each do |product|%>
  		<tr>
  			<td width="50" align="center"><%=check_box_tag "ids[]", product.id%></td>
  			<td><%=image_tag product.image%></td>
  			<td>
  				<h3><%=link_to product.name, projeto_path(product.public_id)%></h3>
  				<p><%=product.description%></p>
  				<table cellspacing="5" width="100%">
  					<% items = @cart.itens_per_product(product)%>
  					<% items.each_with_index do |t,i| %>
  					<tr>
  						<td>
  							<%="+ #{t.product_value.product_type.name}: "%>
  							<%=content_tag(:span, number_to_currency(t.amount),:class=>"price")%>
  						</td>
  						<td>
  							<%="#{t.quantity} x #{number_to_currency(t.price)}"%><br />
  							<%="#{t.number_copys} cópia(s) x #{number_to_currency(CopyFee.first.price)}" if t.number_copys > 0 %>
  						</td>
  					</tr>
  					<% unless t == items.last%>
  					<tr>
  						<td colspan="2"><hr /></td>
  					</tr>
  					<% end %>
  					<% end %>
  				</table>
  			</td>
  			<td nowrap="nowrap"><h2 class="price" id="product_amount_<%=product.id%>"><%=number_to_currency @cart.price_per_product(product)%></h2></td>
  		</tr>
  		<% end %>

  		<tfoot>
  			<tr>

  				<td colspan="3" align="right"><strong class="col-pad1">Taxa de envio:</strong></td>
  				<td nowrap="nowrap" align="right" class="price"><%=number_to_currency TaxFee.first.price%></td>
  			</tr>
  			<tr>

  				<td colspan="3" align="right"><h2 class="col-pad1">Total:</h2></td>
  				<td nowrap="nowrap"><h2 class="price"><%=number_to_currency @cart.amount%></h2></td>
  			</tr>
  			<tr>
  				<td colspan="6">
  					<ul>
  						<li><%=link_to_function "Excluir selecionados", "$('#form').submit()"%></li>
  						<li><h2><%=link_to "Finalizar compra", :action => :finalizar %></h2></li>
  					</ul>
  				</td>

  			</tr>
  		</tfoot>	
  	</table>
    <% end %>
	<% end %>
	<% else %>
	<h3>Seu carrinho ainda está vazio :(</h3>
	<p>É uma uma oportunidade para conhecer novos <%=link_to "projetos",projetos_path%> e mudar sua vida para melhor.</p>
	<% end %>


<style type="text/css">
.formError{
  color: #C90000;
}
.fieldWithErrors{
  display: inline
}
.fieldWithErrors input{
  border: 1px solid #C90000 !important;
}
</style>