<h2>Notícias</h2>
<table class="full">
	<%@news.each do |news|%>
	<tr>
    <td>
      <%=image_tag_seo(news.news_photos.first.photo.url(:small), :title => news.title, :class => "left col-pad-small") unless news.news_photos.first.nil?%>
      <h3><%=news.title%></h3>
			<%=news.resume%><br />
			<%=link_to "leia mais...", noticia_path(news.id)%>
    </div>
  </tr>
	<% end %>
</table>
