<%=link_to "ver todas as notícias", noticias_path%>
<h2><%=@news.title%></h2>
<table class="table2columns">
	<tr>
		<td>
			<%=image_tag(@news.news_photos.first.photo.url) if @news.news_photos.size > 0%>
			<%=@news.content%>
		</td>
	</tr>
	<tr>
		<td>
			<h3>Mais fotos</h3>
	    <ul class="photos">
	      <% @news.news_photos.each do |p|%>
	        <li><%=link_to image_tag(p.photo.url(:small)),p.photo.url, :rel => "lightbox" %></li>
	      <% end %>
	    </ul>
		</td>
	</tr>
</table>
