<% if !@build_costs.blank? %>
	<ul>
  <% for build_cost in @build_costs %>
    <li class="price">
			<strong><%=build_cost.cost.name%>:</strong> 
			<%=number_to_currency build_cost.price%>
		</li>
  <% end %>
	</ul>
<% end %>
