<%title "Projetos"%>
<div class="page1">
<h3>PROJETOS</h3>
<% @products.each do |p| %>
<div class="product_box left">
	<span class=""><%=link_to image_tag(p.image_thumb), projeto_path(p)%></span>
	<strong><%=link_to p.name, projeto_path(p)%></strong><br />
	Cód.: <%=link_to p.id, projeto_path(p)%>
	<p class="price"><%=number_to_currency p.price.description%></p>
	<%=link_to "mais informações", projeto_path(p)%>
</div>
<% end %>
</div>