/* CSS Document */

* {
	margin:0; padding:0;
	font-size:100%;
}

body{
	background:url(/images/body-tail.gif) left top repeat-x #FFFFFF;
	text-align:center;
}

img {vertical-align:top;}
a img { border:0;}

ul { list-style:none;}

.left { float:left;}
.right {float:right;}
.clear  { clear:both;}
.center{ text-align:center}

h1,h2,h3,h4,h5{
  font-family:"Arial Narrow","Trebuchet MS", Arial;
}
h5            { font-size: 16px; padding: 0 0 5px 0; }




html, input, textarea
	{
		font-family:Arial, Helvetica, sans-serif;
		font-size:0.75em;
		line-height:1.6666em;
		color:#a7a7a7;
	}

input, select { vertical-align:middle; font-weight:normal;}

a {color:#50c5f9; outline:none;}
a:hover{text-decoration:none;}
p {padding-top:20px;}

/* ============================= main layout ====================== */

#left_menu ul{
  display:block;
}

li{
  line-height:2.16666em;
  padding-left:17px;
}

li { background:url(/images/marker.gif) no-repeat 0 7px}
li a {color:#50c5f9}

.imgindent {margin:0 20px 0 0; float:left;}
.imgindent1 {margin:0 30px 0 0; float:left;}

h2 {font-size:24px;font-weight:normal; line-height:1.2em; color:#535353; padding-bottom:17px;}
h2 a, h3 a{
  text-decoration: none  !important;
}
h3 {font-size:1.916em; line-height:1.2em; color:#6a6a6a; padding:5px 0 10px 0;}

h4 {font-size:1.1666em; line-height:1.2em; color:#fff; text-transform:uppercase; display:inline-block; background:url(/images/h-left-bg.gif) left top no-repeat; }
h4 strong {display:inline-block; padding:0 4px 0 4px; background:url(/images/h-right-bg.gif) right top no-repeat;}
h4 strong strong {padding:6px 4px 6px 4px; background:url(/images/h-tail-bg.gif) left top repeat-x;}

/* ============================= header ====================== */
#page1 #header {height:572px; background:url(/images/border-bottom-bg.gif) left bottom repeat-x;}

.logo {padding:30px 0 25px 15px; float:left;}
.logo h1{
  display:none;
}

.date {color:#7a7777; display:inline-block; float:left; padding:4px 0 0 12px;}

.sub-menu {float:right; width:310px; padding:72px 0 0 0;}
.sub-menu li {float:left; line-height:1.2em; padding:0 20px 0 18px;}
.sub-menu li a {text-decoration:none; color:#858585; display:block;}
.sub-menu li a:hover {text-decoration:underline;}

.sub-menu .bg1 {background:url(/images/sud-menu-li-bg1.gif) left 1px no-repeat;}
.sub-menu .bg2 {background:url(/images/sud-menu-li-bg2.gif) left 1px no-repeat;}
.sub-menu .bg3 {background:url(/images/sud-menu-li-bg3.gif) left 1px no-repeat; padding-right:0px;}

.menu {background:url(/images/menu-tail-bg.gif) left top repeat-x;}
.menu-left {background:url(/images/menu-left-bg.gif) left top no-repeat;}
.menu-right {background:url(/images/menu-right-bg.gif) right top no-repeat; width:100%; height:57px;}

.menu li {float:left; background:url(/images/menu-li-bg.gif) right 28px no-repeat; padding:0 15px 0 18px; text-transform:uppercase; line-height:1.2em; font-size:1.1666em;}
.menu li a {text-decoration:none; color:#4a4a4a; display:inline-block; cursor:pointer;}
.menu li a strong {padding:0 13px 0 11px; display:inline-block;}
.menu li a strong strong {padding:23px 3px 9px 1px;}

.menu .last {background:none; padding-right:0px;}

.menu li a:hover, .menu .active a {background:url(/images/menu-li-active-left-bg.gif) left top repeat-x; color:#fff;}
.menu li a:hover strong, .menu .active a strong {background:url(/images/menu-li-active-right-bg.gif) right top no-repeat;}
.menu li a:hover strong strong, .menu .active a strong strong {background:url(/images/menu-li-active-tail-bg.gif) left top repeat-x;}

.header-box {width:242px; float:left; margin-right:5px; background:url(/images/header-box-bg.gif) left top no-repeat;}
.header-box .indent {padding:5px 6px 26px 6px;}
.none {margin-right:0px;}
.header-link {display:inline-block; color:#000; line-height:1.2em; background:url(/images/header-marker.gif) left 3px no-repeat; padding-left:16px; margin:22px 0 0 6px;}
.header-link a {font-weight:bold; color:#000;}
.relative {position:relative; padding-top:6px;}

.link-left, .link-right {position:absolute; }
.link-left {margin:98px 0 0 -26px;}
.link-right {margin:98px 0 0 945px;}
/* ============================= content ====================== */
.indent {padding:20px 0 55px 10px;}

.padding {padding-bottom:45px;}

.col-pad {padding-right:32px;}
.col-pad1 {padding-right:29px;}

.ul-pad {padding-bottom:12px;}

.link {color:#4a4a4a; text-decoration:none; background:url(/images/link-bg.gif) right 8px no-repeat; padding-right:10px; display:inline-block; font-size:1.416em; line-height:1.2em; margin-top:20px;}
.link:hover {padding-right:14px;}
.link-ul {margin-top:14px;}

.border, .border_small{
  background:url(/images/border-bg.gif) bottom left repeat-x; 
}
.border {padding-bottom:30px; margin-bottom:30px;}
.space, .border_small {padding-bottom:25px; margin-bottom:15px;}

.news {color:#464545; display:inline-block; float:right; padding:5px 15px 0 0;}

.title {font-style:italic; color:#1d1d1d; display:inline-block; padding-bottom:5px;}
.line {line-height:1.5em;}
.line p {padding-top:14px;}

.pad {padding-top:20px;}
.pad1 {padding-top:24px;}
.pad2 {padding-top:16px;}
.pad3 {padding-top:28px;}

.margin {margin-top:12px;}

.link-margin {margin-top:0px;}

.phone {display:inline-block; width:80px;}
/* ============================= footer ====================== */
#footer {background:url(/images/border-bg.gif) left top repeat-x; padding-top:35px;}
#footer .col-1 {width:432px !important;}
#footer .col-2 {width:88px !important;}
#footer .col-3 {width:196px !important;}
#footer em {font-style:normal; color:#50c5f9;}
#footer .col-1 a {color:#9c9c9c;}
.title1 {font-size:1.16em; color:#6a6a6a; line-height:1.2em; padding-bottom:6px; display:block;}

.mail {color:#a1a1a1; text-decoration:none;}
.mail:hover {text-decoration:underline;}
.footer-menu {padding-bottom:10px; width:100%; overflow:hidden;}
.footer-menu li {background:none; float:left; padding:0 20px 0 0; line-height:1.2em;}
.footer-menu li a {color:#a1a1a1; }
.links img {margin:6px 6px 0 0;}
/* ============================= forms ============================= */
#SearchForm {float:right;  padding:4px 2px 0 0; color:#adacac;}
#SearchForm span {font-family:"Arial Narrow", Arial; font-weight:bold; text-transform:uppercase; font-size:1.25em;}
#SearchForm label {background:url(/images/input-bg.gif) right top no-repeat; height:25px; display:inline-block;  margin-right:-3px;}
#SearchForm .input {width:145px;  border:none; padding:3px 6px 0px 5px; font-size:0.91em;  vertical-align:top; color:#79938c; line-height:1.2em; margin-left:11px; background:none;}
#SearchForm input {vertical-align:top;}

.form {padding-top:15px;}
.form label {height:42px; display:block;}
.form .link {margin:15px 0 0 40px;}
.alignright {text-align:right;}
.column1 {float:left; width:220px;}
.column2 {float:left; width:239px;}
.form .input {width:204px; border:1px solid #a09b96; background:none; padding:3px 0 2px 5px; font-size:1em; line-height:1.2em;}
textarea {width:234px; height:104px; border:1px solid #a09b96; background:none; padding:0 0 0 5px; overflow:auto; font-size:1em;}

.form .auto{
  width:auto !important;
}


#left_menu{
  margin-bottom:15px;
}

#left_menu h3{
  margin-left:60px;
}


#left_menu div{
  width:160px;
}

#left_menu li{
  background:url(/images/left_menu_arrow.gif) no-repeat 0 11px;
  padding-left:8px;
}

#left_menu a{
  color:#999;
}

#left_menu_top{
  background:url(/images/left_menu_top.gif) no-repeat;
  height:12px;
}

#left_menu_body{
  background:url(/images/left_menu_body.gif) repeat-y;
}
#left_menu_body ul.sep{
  margin-top:10px;
}

#left_menu_body ul{
  margin-left:15px;
  font-size:14px;
  color:#6a6a6a;
}
#left_menu_body li, #left_menu_body a{
  font-size:12px;
}

#left_menu_body a{
  text-decoration:none;
}
#left_menu_body a:hover{
  text-decoration:underline;
}

#left_menu_footer{
  background:url(/images/left_menu_footer.gif) no-repeat;
  height:12px;
}

.product_box{
  margin-bottom:10px;
  width:154px;
}

.news-list{
  height: 170px
}

.product_box, .product_box a{
  color:#999;
}
.price{
 color:#50c5f9;  
}
.list-prices{
  line-height:30px;
  vertical-align:middle;
}
.list-prices .price{
  font-size:16px;
}

.btn-blue{
  background:url(/images/btn-blue.gif) no-repeat;
  width:100px;
  height:28px;
  line-height:28px;
  color:#Fff;
  text-align:center;
  font-size:14px;
  margin-bottom:10px;
  text-decoration:none;
}

.underline{
  border-bottom:1px solid #6a6a6a;
  margin-bottom:20px;
  padding-bottom:4px;
}


.cart_grid{
  width:760px;
  
}

.cart_grid th{
  font-size:16px;
}

.cart_grid td{
  margin:2px;
  background: #e8e8e8;
}

.border-img img{
  border:1px solid #e8e8e8;
}

tfoot td{
  background:#fff !important;
}

.photos{
  list-style:none;
}

.photos li{
  background:none;
  display:inline;
  padding:0;
}

.errorExplanation p{
  font-weight:bold;
}

.errorExplanation li{
  color:#FF0000;
}

.full{
	width:760px;
	float:left;
}

.full div{
	float:left;
}

.full .column1{
	width:400px;
}
.full .column2{
	width:350px;
}

.question{
  text-decoration:pointer !important;
  -moz-user-select: none;
  
}

table.table2columns .column1, table.table2columns .column2{
	width:45%;
}

table.table2columns .fieldWithErrors input,table.table2columns .fieldWithErrors select{
	border:1px solid #ff0000 !important;
}

table.table2columns{
	width:700px;
}
table.table2columns h3{
  margin-top:20px;
}


form.cart_incomplete input{
    color:#000;
    font-size:12px;
}

.comentarios p{
    margin:0;
    padding:0;
}

.comentarios .horario{
    font-size:10px;
    margin-bottom:5px;
}

.comentarios .comentario{
    background-color:#F2F2F2;
    margin:10px 0;
    padding:10px;
}

.comentarios .pre, .comentarios strong{
    color:#000;
}

.comentarios .pre{
    font-style:italic;
}

.comentarios .opiniao_2, .comentarios .opiniao_3, .comentarios .opiniao_4{
    color:#49B2E4;
}

.comentarios .opiniao_0, .comentarios .opiniao_1{
    color:#990000;
}
.comentario .resposta{
    margin-left:20px;
}