<h1 id="uma_mensagem_foi_enviada_pelo_site">Uma mensagem foi enviada pelo site</h1>
<p>Nome: <strong><%=h @name%></strong></p>
<p>Email: <strong><%=h @email%></strong></p>
<p>Assunto: <strong><%=h @subject%></strong></p>
<p>Mensagem: <strong><%=h @message%></strong></p>
