
  <%= form.error_messages %>
  <p>
    <%= form.label :product_id %>
    <%= form.collection_select :product_id, Product.all,:id,:name %>
  </p>
  <p>
    <%= form.label :product_type_id %>
    <%= form.collection_select :product_type_id, ProductType.all,:id,:name %>
  </p>
  <p>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </p>

	<p>
    <%= form.label :leader_price %>
    <%= form.check_box :leader_price %>
  </p>
	<p>
	  <%=form.submit "Salvar", :class => "button", :name => nil%> | <%=link_to "Voltar", product_values_path%>
	</p>
