<div class="content-box">
  <div class="content-box-header">

    <h3>Gerenciamento de Custos</h3>

    <div class="clear"></div>

  </div>

  <div class="content-box-content">

    <div style="display: block;" class="tab-content default-tab" id="tab1">
        <table>

          <thead>
            <tr>
              <td colspan="10">
                <div class="bulk-actions">
                  <%= link_to "Novo custo", new_cost_path, :class => "button" %>
                </div>
              </td>
            </tr>
            <tr>
              <th>Nome</th>
              <th>Ações</th>
            </tr>

          </thead>

          <tfoot>
            <tr>
              <td colspan="10">
                <div class="bulk-actions align-left">
                  <%= link_to "Novo custo", new_cost_path, :class => "button" %>
                </div>
                <div class="clear"></div>
              </td>
            </tr>
          </tfoot>

          <tbody>
            <% @costs.each do |cost| -%>
              <tr class="<%= cycle("","alt-row") %>">
								<td><%=h cost.name %></td>
                <td nowrap="nowrap">
                    <%= edit_icon(edit_cost_path(cost)) %>
                    <%= delete_icon(cost) %>
                </td>
              </tr>
            <% end -%>
          </tbody>

        </table>

    </div> <!-- End #tab1 -->

  </div>

</div>