<% title "Custo #{@cost.name}" %>

<p>
  <strong>Nome:</strong>
  <%=h @cost.name %>
</p>

<p>
  <%= link_to "Editar", edit_cost_path(@cost) %> |
  <%= link_to "Remover", @cost, :confirm => 'Tem certeza disto?', :method => :delete %> |
  <%= link_to "Voltar para lista", costs_path %>
</p>
