<%= javascript_include_tag "jquery.jcarousel" %>
<%= stylesheet_link_tag "jquery.jcarousel" %>
<div class="page1">
  <div class="col-1 col-pad">
    <h3>Seja bem vindo(a)</h3>
    <strong>ao portal de projetos residenciais</strong>
    <p>O portal <strong>projetos residenciais</strong> é uma fábrica de sonhos que tem a missão de levar qualidade,
			alto padrão e sonhos a sua casa. Projetos para sua casa, apartamento e adaptações agora são <strong>realidade</strong>.</p>
    <ul class="pad">
      <li><%=link_to_seo "Comece por aqui, escolha seu projeto",projetos_path%></li>
      <li><%=link_to_seo "Crie seu próprio projeto", crie_seu_projeto_path%></li>
      <li><%=link_to_seo "Tire suas dúvidas", ajuda_path%></li>
    </ul>
    <%=link_to_seo "Mais informações", informacoes_path, :class => "link" %>
  </div>
  <div class="col-3">
    <ul id="mycarousel" class="jcarousel-skin-tango">
      <% webdoors.each do |p|%>
        <li><%=image_tag_seo p.image, :title => project_title(p.name)%>
          <h3><%=link_to_project p.name, projeto_path(p.public_id)%></h3>
          <div>apenas: <%=content_tag :span, number_to_currency(p.price.description), :class => "price"%></div>
        </li>
      <% end %>
    </ul>
    <script type="text/javascript">
      $('#mycarousel').jcarousel({
        auto: 5,
        wrap: 'last',
        initCallback: mycarousel_initCallback
      });
    </script>
  </div>
</div>



<div class="left" style="width:776px">	
  <div class="clear border_small"></div>

  <div class="page3 clear">
    <div class="col-3">
      <div class="btn-blue">Novidades</div>

      <%=image_tag_seo "crie-projeto.jpg", :title => "Crie seu projeto", :class => "left col-pad-small"%>
      <h3>Criação de projetos</h3>
			<%=link_to_seo "Clique aqui para conhecer a ferramenta de criação de projetos", modificar_projeto_path%>
    </div>
    <div class="col-3">
      <%=image_tag_seo "modifique-projeto.jpg", :title => "Modifique um projeto", :class => "left col-pad-small"%>
      <h3>Modificações de projetos</h3>
			<%=link_to_seo "Clique aqui para modificar seu projeto ou escolha algum do site", modificar_projeto_path%>
    </div>
  </div>

  <div class="clear"></div>

  <h3 class="underline pad3">PROJETOS</h3>


  <% @products.each do |p| %>
    <div class="product_box left">
      <span class=""><%=link_to_project image_tag_seo(p.image_thumb,:title => project_title(p.name)), projeto_path(p.public_id)%></span>
      <strong><%=link_to_project p.name, projeto_path(p.public_id)%></strong><br />
        Cód.: <%=link_to_project p.id, projeto_path(p.public_id)%><br />
      <span class="price"><%=number_to_currency p.price.description%></span><br />
      <%=link_to_project "mais informações", projeto_path(p.public_id)%>
    </div>
  <% end %>

  <div class="clear"></div>
	<% if @news.size > 0%>
	<h3 class="underline pad3">Notícias</h3>
	<div class="page3 clear">
		<%@news.each do |news|%>
    <div class="col-3 news-list">
      <%=image_tag_seo(news.news_photos.first.photo.url(:small), :title => news.title, :class => "left col-pad-small") if news.news_photos.exists? %>
      <h3><%=news.title%></h3>
			<%=news.resume%><br />
			<%=link_to "leia mais...", noticia_path(news.id)%>
    </div>
		<% end%>
  </div>
	<% end%>
</div>
