<% form_for @news, :url => (@news.new_record? ? news_index_path : news_path(@news)),
									 :html => {:multipart => true, :id => "form_product"} do |f| %>
  <%= f.error_messages %>
	<% content_for :jstemplates do -%>
  	<%= "var news_photo='#{generate_template(f, :news_photos)}'" %>
	<% end -%>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :resume %>
    <%= f.text_area :resume, :rows => 4 %>
  </p>
  <p>
    <%= f.label :content %>
    <%= f.text_area :content, :class => "wysiwyg" %>
  </p>
	<div id="news_photos">
	  <% f.fields_for :news_photos do |photo_form| %>
			<%= render :partial => 'news_photo', :locals => { :f => photo_form } %>
		<% end %>
	</div>
	<p>
	<%= link_to 'Adicionar foto', 'javascript:;', :name => '#news_photo', :class => "add_nested_item", :rel => "news_photos" %>
	</p>


  <p><%= f.submit "Salvar" %></p>
<% end%>