<div class="news_photo">
	<hr />
  <p>
    <%= f.label :photo %>
    <%= f.file_field :photo %>
		<%= link_to 'Remover', 'javascript:;', :class => 'del_nested_item' -%>
		<% unless f.object.new_record? %>
			<br /><%=image_tag(f.object.photo.url(:list))%><br />
			<strong><%=request.host + f.object.photo.url(:normal)%></strong>
			<%= f.hidden_field :_destroy %>
    <% end%>
    
  </p>
</div>