<div class="content-box">
  <div class="content-box-header">

    <h3>Gerenciamento de Notícias</h3>

    <div class="clear"></div>

  </div>

  <div class="content-box-content">

    <div style="display: block;" class="tab-content default-tab" id="tab1">

        <table>

          <thead>
            <tr>
              <td colspan="10">
                <div class="bulk-actions">
                  <%= link_to "Nova notícia", new_news_path, :class => "button" %>
                </div>
              </td>
            </tr>
            <tr>
              <th>Título</th>
              <th>Ações</th>
            </tr>

          </thead>

          <tfoot>
            <tr>
              <td colspan="10">
                <div class="bulk-actions align-left">
                  <%= link_to "Nova notícia", new_news_path, :class => "button" %>
                </div>
                <div class="clear"></div>
              </td>
            </tr>
          </tfoot>

          <tbody>
            <% @news.each do |news| -%>
              <tr class="<%= cycle("","alt-row") %>">
								<td><%=h news.title %></td>
                <td nowrap="nowrap">
                    <%= edit_icon(edit_news_path(news)) %>
                    <%= delete_icon(news_path(news)) %>
                </td>
              </tr>
            <% end -%>
          </tbody>

        </table>

    </div> <!-- End #tab1 -->

  </div>

</div>