<% if @project_modification.product %>
<td class="column1">
	<strong>Modificação do projeto <em><%=@project_modification.product.name%></em></strong><br />
	<%=image_tag @project_modification.product.image(:normal)%>
</td>
<td class="column2">
	<strong>Descrição</strong>:
	<%=@project_modification.product.description%>
	<br /><strong>Mais fotos</strong>
	<ul class="photos">
	<% @project_modification.product.photos.each do |p|%>
    <li><%=link_to image_tag(p.photo.url(:list)),p.photo.url(:big), :rel => "lightbox" %></li>
  <% end %>
	</ul>
</td>
<% end %>