<h3>Modificação de projetos</h3>
Existem duas maneiras de se modificar um projeto: trazendo o seu próprio ou modificando um que criamos. Este é um dos nossos diferenciais, nós vamos fazer o projeto da sua vida da maneira que você quer, tendo ele pronto ou não.
<p>A opção de <strong>projeto próprio</strong> é indicada se você já tem um imóvel ou até somente a planta. Nós iremos colocar nossas cabeças para funcionar e criar algo único dentro do que você deseja.</p>
<p>Escolhendo a <strong>modificação de um projeto nosso</strong> você nos informará detalhes que gostaria de mudar. Talvez um quarto esteja grande demais, ou a sala não está de acordo. Faremos todas as considerações e logo terá o projeto com a sua cara.</p>

<table class="table2columns">
	<tr>
		<td class="column1">
			<%= link_to "Modificar um projeto nosso", :action => :novo, :tipo => ProjectModification::PROJETO_EXISTENTE %>
		</td>
		<td class="column2">
			<%= link_to "Modificar um projeto próprio", :action => :novo, :tipo => ProjectModification::PROJETO_CLIENTE %>
		</td>
	</tr>
</table>