<h3>Modificação de projetos</h3>
<strong>O serviço será combinado de acordo com o tipo de solicitação e será cobrado o valor de 50% mediante autorização do serviço, e o restante na entrega do serviço com sistema de deposito em conta.</strong>
<style type="text/css">
	#map_canvas { height: 500px; }
</style>
<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=false">
</script>

<% form_for(@project_modification, 
:url => {:action => :criar},
:html => {:multipart => true, :id => "form_modification", :name => "form_modification"}) do |f|%>
<%= f.hidden_field :type_modification %>
<%=f.error_messages%>

<div class="form">
<table class="table2columns">
	<% if @project_modification.to_project %>
	<tr>
		<td colspan="2">
			Você escolheu a opção de modificar um projeto nosso. O primeiro passo então é selecionar um projeto em nossa lista. Assim você terá informações parciais que podem lhe ajudar a preencher o restante do formulário.
			<label><strong>Projeto escolhido</strong><br /><%=f.collection_select :product_id, Product.actives.all, :id, :name,:include_blank => true %></label>
		</td>
	</tr>
	<tr id="product_detail">
		<%= render :partial => 'product' %>
	</tr>
	<% else %>
	<tr>
		<td colspan="2">A modificação de projetos prontos é um diferencial do Projetos Residenciais. Por aqui é muito fácil nos informar como é seu projeto e o que deseja mudar. Queremos entender tais modificações para assim criarmos um novo conceito.</td>
	</tr>
	<tr>
		<td colspan="2">
			<h3>Área multimídia</h3>

			
			<p>Fotos do imóvel existente:<br /><%=f.file_field :picture, :class => "input auto", :style => "border:0px", :size => 40 %></p><br />
			Com intuito de fazermos o melhor projeto da sua vida gostaríamos de receber imagens do local onde pretende construir. 
			Isto ajudará a saber como é realmente o terreno, vizinhos, ambiente e luminosidade. Tudo para deixar o projeto perfeito para você.
			<p>Envie aqui os arquivos da localização, prédios vizinhos, terreno. Mande vários arquivos compactando em um só (zip):<br /><%=f.file_field :localization, :class => "input auto", :style => "border:0px", :size => 40 %></p>
		</td>
	</tr>
	<% end %>
	
	<tr>
		<td colspan="2">
			<h3>Dados pessoais</h3>
		</td>
	</tr>
	<tr>
		<td class="column1">
			<label>Nome:<br /><%=f.text_field :name, :class => "input" %></label>
			<label>Telefone:<br /><%=f.text_field :phone, :class => "input auto", :size => 10 %></label>
		</td>
		<td class="column2">
			<label>Email:<br /><%=f.text_field :email, :class => "input" %></label>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<h3>Seu endereço</h3>
		</td>
	</tr>
	<tr>
		<td class="column1">
      <label>CEP:<br /><%=f.text_field :customer_cep, :class => "input auto", :size => 8, :maxlength => 8, :onblur => "get_endereco(this.value)" %></label>
      <label>Endereço:<br /><%=f.text_field :customer_address,:class => "input" %></label>
      <label>Número:<br /><%=f.text_field :customer_address_number,:class => "input auto", :size => 4, :maxlength => 5 %></label>
      <label>Complemento:<br /><%=f.text_field :customer_address_complement,:class => "input" %></label>
		</td>
		<td class="column2">
			<label>Bairro:<br /><%=f.text_field :customer_address_neighborhood,:class => "input" %></label>
      <label>Cidade:<br /><%=f.text_field :customer_address_city,:class => "input" %></label>
      <label>Estado:<br /><%=f.text_field :customer_address_state,:class => "input auto", :size => 2 %></label>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<h3>Dados do terreno</h3>
			Indique aqui as informações sobre de onde você quer construir
		</td>
	</tr>
	<tr>
		<td class="column1">
			<label>CEP:<br /><%=f.text_field :cep, :class => "input auto", :size => 8, :maxlength=>8 %></label>
			<label>Endereço:<br /><%=f.text_field :address, :class => "input" %></label>
			<label>Número:<br /><%=f.text_field :house_number, :class => "input auto", :size => 5 %></label>
			<label>Bairro:<br /><%=f.text_field :neighborhood, :class => "input" %></label>
			<label>Cidade:<br /><%=f.text_field :city, :class => "input" %></label>
			<label>Estado:<br /><%=f.text_field :province, :class => "input auto", :size => 2 %></label>
			<label>Lateral direita:<br /><%=f.text_field :right_side, :class => "input auto", :size => 3 %></label>
			<label>Lateral esquerda:<br /><%=f.text_field :left_side, :class => "input auto", :size => 3 %></label>
			<label>Frente:<br /><%=f.text_field :front_side, :class => "input auto", :size => 3 %></label>
			<label>Atrás:<br /><%=f.text_field :back_side, :class => "input auto", :size => 3 %></label>
		</td>
		<td class="column2">
			<label>Como é o terreno?<br /><%=f.text_field :terrain_type, :class => "input" %></label>
			<label>Qual é localização do terreno?<br /><%=f.text_field :terrain_localization, :class => "input" %></label>
			<label>Os terrenos vizinhos estão construídos?<br /><%=f.select :have_buildings,yes_no_options %></label>
			<label>Existem prédios na vizinhança?<br /><%=f.select :have_neighborhood,yes_no_options %></label>
			<label>Chove muito?<br /><%=f.select :rains,yes_no_options %></label>
			<label>Como é o clima?<br /><%=f.select :climatic, climatic_options %></label>
			<label>Onde o sol nasce?<br /><%=f.select :orientation, orientation_options %></label>
		</td>
	</tr>
	<tr id="terreno" style="display:none">
		<td colspan="2">
			<h3>Localização do terreno no mapa</h3>
			<div id="map_canvas" style="width:650px !important; height:500px !important">
			<% if @project_modification.latitude.to_i != 0 && @project_modification.longitude.to_i != 0 %>
				<script type="text/javascript">
					start_map(<%=@project_modification.latitude%>, <%=@project_modification.longitude%>,true);
				</script>
			<% end %>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<h3>Deixando com a sua cara</h3>
			Cada projeto é único e para isto deixamos um espaço para que você possa fazer observações e expor suas expectativas. Deixe que sua imaginação corra solta. Queremos fazer parte deste sonho.
			<p>Escreva aqui suas observações:<br /><%=f.text_area :observations, :style => "width:99%" %></p>
			<p>Escreva aqui mudanças nos cômodos, alterações em geral:<br /><%=f.text_area :modifications_in_rooms, :style => "width:99%" %></p>
			
			<a href="#" class="link" onclick="$('#form_modification').submit()">Enviar</a>
		</td>
	</tr>
	<tr>
		<td colspan="2"><strong>O serviço será combinado de acordo com o tipo de solicitação e será cobrado o valor de 50% mediante autorização do serviço, e o restante na entrega do serviço com sistema de deposito em conta.</strong></td>
	</tr>
</table>
</div>
<% end %>
<script type="text/javascript" charset="utf-8">
	$("#project_modification_product_id").change(function(){
		$.get("<%=url_for :action => :buscar_projeto%>", {id:$(this).val()},function(data){
			$("#product_detail").html(data);
			startLightBox();
		});
	});
</script>
<style type="text/css">
.errorExplanation li {
display: inline;
background: none;
padding-left: 0;
margin-right: 10px;
text-decoration: underline;
}

</style>