<div class="content-box">
  <div class="content-box-header">

    <h3>Gerenciamento de Pedidos</h3>

    <div class="clear"></div>

  </div>

  <div class="content-box-content">

    <div style="display: block;" class="tab-content default-tab" id="tab1">
      <% form_tag({:action => :destroy_all, :method => :put}, {:id => "form_list", :name => "form_list"} ) do%>
        <table>

          <thead>
            <tr>
              <th><input class="check-all" type="checkbox"></th>
              <th>Data do pedido</th>
              <th>Data da última atualização</th>
              <th>Situação</th>
							<th>Qtd. de itens</th>
							<th>Valor total</th>
              <th>Ações</th>
            </tr>

          </thead>

          <tfoot>
            <tr>
              <td colspan="12">
                <div class="bulk-actions align-left">
                  <%= link_to_function "Remover selecionados", "$('#form_list').submit()", :class => "button" %>
                </div>
                <%=pagination @carts %>
                <div class="clear"></div>
              </td>
            </tr>
          </tfoot>

          <tbody>
            <% @carts.each do |t| -%>
              <tr class="<%= cycle("","alt-row") %>">
                <td> <%= check_box_tag "ids[]",t.id %></td>
                <td><%=I18n.localize t.created_at, :format => :short %></td>
                <td><%=I18n.localize t.updated_at, :format => :short %></td>
                <td><%=t.status%></td>
								<td><%=t.quantity%></td>
								<td><%=number_to_currency t.amount%></td>
                <td nowrap="nowrap">
                    <%= link_to image_tag("icons/information.png"), cart_path(t) %>
                    <%= delete_icon(cart_path(t)) %>
                </td>
              </tr>
            <% end -%>
          </tbody>

        </table>
      <% end %>

    </div> <!-- End #tab1 -->

  </div>

</div>