
<h1>Categoria <%=@category.name%></h1>

<% @category.products.each do |p| %>
<div class="product_box">
	<span class=""><%=link_to image_tag(p.image_thumb), projeto_path(p)%></span>
	<strong><%=link_to p.name, projeto_path(p)%></strong><br />
	Cód.: <%=link_to p.id, projeto_path(p)%>
	<p class="price"><%=number_to_currency p.price%></p>
	<%=link_to "mais informações", projeto_path(p)%>
</div>
<% end %>