<h3>Perguntas frequentes</h3>

<% if @how_tos.size > 0%>
<div class="full">
	<% @how_tos.each do |how_to|%>
	<h5 id="how_to_<%=how_to.id%>" class="question" onselectstart="return false;"><%=h how_to.question%></h5>
		<span class="reply" id="reply_how_to_<%=how_to.id%>"><%=how_to.reply%></span>
	<% end %>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$(".question").click(function(){
			$("#reply_"+$(this).attr('id')).toggle();
		});
		$(".reply").hide();
	});
</script>
<% else %>
<strong>Nenhuma pergunta frequente encontrada.</strong>
<% end %>