<div class="content-box">
  <div class="content-box-header">

    <h3>Gerenciamento de Perguntas Frequentes</h3>

    <div class="clear"></div>

  </div>

  <div class="content-box-content">

    <div style="display: block;" class="tab-content default-tab" id="tab1">
      <% form_tag({:action => :destroy_all, :method => :put}, {:id => "form_list", :name => "form_list"} ) do%>
        <table>

          <thead>
            <tr>
              <td colspan="4">
                <div class="bulk-actions">
                  <%= link_to "Nova pergunta frequente", new_how_to_path, :class => "button" %>
                </div>
              </td>
            </tr>
            <tr>
              <th><input class="check-all" type="checkbox"></th>
              <th>Pergunta</th>
              <th>Ações</th>
            </tr>

          </thead>

          <tfoot>
            <tr>
              <td colspan="4">
                <div class="bulk-actions align-left">
                  <%= link_to "Nova pergunta frequente", new_how_to_path, :class => "button" %>
                  <%= link_to_function "Remover selecionadas", "$('#form_list').submit()", :class => "button" %>
                </div>
                <%=pagination @products %>
                <div class="clear"></div>
              </td>
            </tr>
          </tfoot>

          <tbody>
            <% @how_tos.each do |how_to| -%>
              <tr class="<%= cycle("","alt-row") %>">
                <td> <%= check_box_tag "ids[]",how_to.id %></td>
                <td>
                  <h3><%=h how_to.question %></h3>
                </td>
                <td nowrap="nowrap">
                    <%= edit_icon(edit_how_to_path(how_to)) %>
                    <%= delete_icon(how_to_path(how_to)) %>
                </td>
              </tr>
            <% end -%>
          </tbody>

        </table>
      <% end %>

    </div> <!-- End #tab1 -->

  </div>

</div>