<% title "How To" %>

<p>
  <strong>Question:</strong>
  <%=h @how_to.question %>
</p>
<p>
  <strong>Reply:</strong>
  <%=h @how_to.reply %>
</p>

<p>
  <%= link_to "Edit", edit_how_to_path(@how_to) %> |
  <%= link_to "Destroy", @how_to, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", how_tos_path %>
</p>
