<div class="content-box">
  <div class="content-box-header">

    <h3>Gerenciamento de Atributos de Produtos</h3>

    <div class="clear"></div>

  </div>

  <div class="content-box-content">

    <div style="display: block;" class="tab-content default-tab" id="tab1">
      <% form_tag({:action => :destroy_all, :method => :put}, {:id => "form_list", :name => "form_list"} ) do%>
        <table>

          <thead>
            <tr>
              <td colspan="10">
                <div class="bulk-actions">
                  <%= link_to "Novo atributo de produto", new_product_attribute_path, :class => "button" %>
									Filtrar por produto: <%=select_tag :product_id, products_filter, :onchange => "window.location='#{url_for(product_attributes_path)+"?product_id="}'+this.value"%>
                </div>
              </td>
            </tr>
            <tr>
              <th><input class="check-all" type="checkbox"></th>
              <th>Produto</th>
							<th>Tipo</th>
							<th>Valor</th>
              <th>Ações</th>
            </tr>

          </thead>

          <tfoot>
            <tr>
              <td colspan="10">
                <div class="bulk-actions align-left">
                  <%= link_to "Novo atributo de produto", new_product_attribute_path, :class => "button" %>
                  <%= link_to_function "Remover selecionados", "$('#form_list').submit()", :class => "button" %>
                </div>
                <%=pagination @product_attributes %>
                <div class="clear"></div>
              </td>
            </tr>
          </tfoot>

          <tbody>
            <% @product_attributes.each do |product_attribute| -%>
              <tr class="<%= cycle("","alt-row") %>">
                <td> <%= check_box_tag "ids[]",product_attribute.id %></td>
                <td><%=h product_attribute.product.name %></td>
								<td><%=h product_attribute.attribute.name %></td>
								<td><%=h product_attribute.description %></td>
                <td nowrap="nowrap">
                    <%= edit_icon(edit_product_attribute_path(product_attribute)) %>
                    <%= delete_icon(product_attribute_path(product_attribute)) %>
                </td>
              </tr>
            <% end -%>
          </tbody>

        </table>
      <% end %>

    </div> <!-- End #tab1 -->

  </div>

</div>