<% title "Product Attribute" %>

<p>
  <strong>Product:</strong>
  <%=h @product_attribute.product %>
</p>
<p>
  <strong>Atributte:</strong>
  <%=h @product_attribute.atributte %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @product_attribute.description %>
</p>

<p>
  <%= link_to "Edit", edit_product_attribute_path(@product_attribute) %> |
  <%= link_to "Destroy", @product_attribute, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", product_attributes_path %>
</p>
