<% form_for @cart_item do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :cart %><br />
    <%= f.text_field :cart %>
  </p>
  <p>
    <%= f.label :product %><br />
    <%= f.text_field :product %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
