<% title "Cart Items" %>

<table>
  <tr>
    <th>Cart</th>
    <th>Product</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  <% for cart_item in @cart_items %>
    <tr>
      <td><%=h cart_item.cart %></td>
      <td><%=h cart_item.product %></td>
      <td><%=h cart_item.price %></td>
      <td><%=h cart_item.quantity %></td>
      <td><%= link_to "Show", cart_item %></td>
      <td><%= link_to "Edit", edit_cart_item_path(cart_item) %></td>
      <td><%= link_to "Destroy", cart_item, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Cart Item", new_cart_item_path %></p>
