<% title "Cart Item" %>

<p>
  <strong>Cart:</strong>
  <%=h @cart_item.cart %>
</p>
<p>
  <strong>Product:</strong>
  <%=h @cart_item.product %>
</p>
<p>
  <strong>Price:</strong>
  <%=h @cart_item.price %>
</p>
<p>
  <strong>Quantity:</strong>
  <%=h @cart_item.quantity %>
</p>

<p>
  <%= link_to "Edit", edit_cart_item_path(@cart_item) %> |
  <%= link_to "Destroy", @cart_item, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", cart_items_path %>
</p>
