<div class="content-box">
  <% form_for @photo3d, :html => {:multipart => true, :id => "form_photo"}  do |f| %>
  <div class="content-box-header">

    <h3>Editando Foto 3D: <%=@photo3d.photo3d_file_name%></h3>
    <ul class="content-box-tabs">
      <li><%=link_to "Dados gerais", "#tab1", :class => "default-tab" %></li>
    </ul>

    <div class="clear"></div>

  </div>

  <div class="content-box-content">
      <div class="tab-content default-tab" id="tab1">
        <fieldset>
          <%=f.error_messages%>

          <%= render f %>

        </fieldset>

        <div class="clear"></div><!-- End .clear -->
      </div>
  </div>
  <% end %>
</div>