<% title "Photo3d" %>

<p>
  <strong>Product:</strong>
  <%=h @photo3d.product %>
</p>
<p>
  <strong>Photo3d File Name:</strong>
  <%=h @photo3d.photo3d_file_name %>
</p>
<p>
  <strong>Photo3d File Size:</strong>
  <%=h @photo3d.photo3d_file_size %>
</p>
<p>
  <strong>Photo3d Updated At:</strong>
  <%=h @photo3d.photo3d_updated_at %>
</p>
<p>
  <strong>Photo3d File Type:</strong>
  <%=h @photo3d.photo3d_file_type %>
</p>

<p>
  <%= link_to "Edit", edit_photo3d_path(@photo3d) %> |
  <%= link_to "Destroy", @photo3d, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", photo3ds_path %>
</p>
