<% form_for @payment do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :cart %><br />
    <%= f.text_field :cart %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :email2 %><br />
    <%= f.text_field :email2 %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :observations %><br />
    <%= f.text_area :observations %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :celphone %><br />
    <%= f.text_field :celphone %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :complement %><br />
    <%= f.text_field :complement %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :service_id %><br />
    <%= f.text_field :service_id %>
  </p>
  <p>
    <%= f.label :payment_method %><br />
    <%= f.text_field :payment_method %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
