<% title "Payments" %>

<table>
  <tr>
    <th>Cart</th>
    <th>Email</th>
    <th>Email2</th>
    <th>Name</th>
    <th>Observations</th>
    <th>Phone</th>
    <th>Celphone</th>
    <th>Address</th>
    <th>State</th>
    <th>Complement</th>
    <th>Status</th>
    <th>Service</th>
    <th>Payment Method</th>
  </tr>
  <% for payment in @payments %>
    <tr>
      <td><%=h payment.cart %></td>
      <td><%=h payment.email %></td>
      <td><%=h payment.email2 %></td>
      <td><%=h payment.name %></td>
      <td><%=h payment.observations %></td>
      <td><%=h payment.phone %></td>
      <td><%=h payment.celphone %></td>
      <td><%=h payment.address %></td>
      <td><%=h payment.state %></td>
      <td><%=h payment.complement %></td>
      <td><%=h payment.status %></td>
      <td><%=h payment.service_id %></td>
      <td><%=h payment.payment_method %></td>
      <td><%= link_to "Show", payment %></td>
      <td><%= link_to "Edit", edit_payment_path(payment) %></td>
      <td><%= link_to "Destroy", payment, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Payment", new_payment_path %></p>
