<em>encontrados <%=@products.total_entries%> projetos</em>

<div class="page3">
  <% @products.each do |p| %>
    <div class="product_box left">
      <span class=""><%=link_to image_tag(p.image_thumb), projeto_path(p)%></span>
      <strong><%=link_to p.name, projeto_path(p.public_id)%></strong><br />
      Cód.: <%=link_to p.id, projeto_path(p.public_id)%><br />
      <span class="price"><%=number_to_currency p.price.description%></span><br />
      <%=link_to "mais informações", projeto_path(p.public_id)%>
    </div>
  <% end %>
</div>

<div class="page5">
  <div class="col-3 center">
  <%=pagination @products%>
  </div>
</div>