<div class="content-box">
  <div class="content-box-header">

    <h3>Gerenciamento de Fotos de produtos</h3>

    <div class="clear"></div>

  </div>

  <div class="content-box-content">

    <div style="display: block;" class="tab-content default-tab" id="tab1">
      <% form_tag({:action => :destroy_all, :method => :put}, {:id => "form_list", :name => "form_list"} ) do%>
        <table>

          <thead>
            <tr>
              <td colspan="10">
                <div class="bulk-actions">
                  <%= link_to "Nova foto", new_photo_path, :class => "button" %>
                </div>
              </td>
            </tr>
            <tr>
              <th><input class="check-all" type="checkbox"></th>
              <th>Arquivo</th>
							<th>Produto</th>
              <th>Ações</th>
            </tr>

          </thead>

          <tfoot>
            <tr>
              <td colspan="4">
                <div class="bulk-actions align-left">
                  <%= link_to "Nova foto", new_photo_path, :class => "button" %>
                  <%= link_to_function "Remover selecionadas", "$('#form_list').submit()", :class => "button" %>
                </div>
                <%=pagination @photos %>
                <div class="clear"></div>
              </td>
            </tr>
          </tfoot>

          <tbody>
            <% @photos.each do |t| -%>
              <tr class="<%= cycle("","alt-row") %>">
                <td> <%= check_box_tag "ids[]",t.id %></td>
                <td>
                  <%=image_tag t.photo.url(:list) %></h3>
                </td>
								<td><%=t.product.name%></td>
                <td nowrap="nowrap">
                    <%= edit_icon(edit_photo_path(t)) %>
                    <%= delete_icon(photo_path(t)) %>
                </td>
              </tr>
            <% end -%>
          </tbody>

        </table>
      <% end %>

    </div> <!-- End #tab1 -->

  </div>

</div>