<% title "Photo" %>

<p>
  <strong>Product:</strong>
  <%=h @photo.product %>
</p>
<p>
  <strong>Photo File Name:</strong>
  <%=h @photo.photo_file_name %>
</p>
<p>
  <strong>Photo File Size:</strong>
  <%=h @photo.photo_file_size %>
</p>
<p>
  <strong>Photo Updated At:</strong>
  <%=h @photo.photo_updated_at %>
</p>
<p>
  <strong>Photo File Type:</strong>
  <%=h @photo.photo_file_type %>
</p>

<p>
  <%= link_to "Edit", edit_photo_path(@photo) %> |
  <%= link_to "Destroy", @photo, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", photos_path %>
</p>
