<% @product.product_values.each do |product_value|%>
<% fields_for "product[product_value_attributes][]", product_value do |p| %>
<%=p.hidden_field :product_type_id%>
<%=p.text_field :description, :class => "text-input small-input"%>
<% end %>
<% end %>