<% @product.product_attributes.each do |product_attribute|%>
<% fields_for "product[product_attribute_attributes][]", product_attribute do |p| %>
<%=p.hidden_field :attribute_id%>
<%=p.hidden_field :description, :class => "text-input small-input"%>
<% end %>
<% end %>