<p>
	<%= form.label :name %>
	<%= form.text_field :name, :class => "text-input medium-input" %>
</p>
<p>
	<%= form.label :m2 %>
	<%= form.text_field :m2, :class => "text-input  small-input" %>
</p>
<p>
	<%= form.label :mhouse %>
	<%= form.text_field :mhouse, :class => "text-input small-input" %>
</p>
<p>
	<%= form.label :msuggestion %>
	<%= form.text_field :msuggestion, :class => "text-input small-input" %>
</p>
<p>
	<%= form.label :description %>
	<%= form.text_area :description, :rows => 5, :class => "wysiwyg" %>
</p>
<p><%= form.label :special_ad %>
	<%= form.check_box :special_ad, :class => "checkbox" %> sim?
</p>
<p><%= form.label :is_active %>
	<%= form.check_box :is_active, :class => "checkbox" %> sim?
</p>
<p><%= form.label :category_ids %>
	<% Category.all.each do |c|%>
	<%= check_box_tag "product[category_ids][]",c.id, @product.category_ids.include?(c.id) %> <%=c.name%><br />
	<% end %>
</p>


<p>
  <%=form.submit "Salvar", :class => "button", :name => nil%> | <%=link_to "Voltar", products_path%>
</p>