<div class="content-box">
  <div class="content-box-header">

    <h3>Gerenciamento de Produtos</h3>

    <div class="clear"></div>

  </div>

  <div class="content-box-content">

    <div style="display: block;" class="tab-content default-tab" id="tab1">
      <% form_tag({:action => :destroy_all, :method => :put}, {:id => "form_list", :name => "form_list"} ) do%>
        <table>

          <thead>
            <tr>
              <td colspan="4">
                <div class="bulk-actions">
                  <%= link_to "Novo produto", new_product_path, :class => "button" %>
                </div>
              </td>
            </tr>
            <tr>
              <th><input class="check-all" type="checkbox"></th>
              <th>Nome</th>
              <th>Ações</th>
            </tr>

          </thead>

          <tfoot>
            <tr>
              <td colspan="4">
                <div class="bulk-actions align-left">
                  <%= link_to "Novo produto", new_product_path, :class => "button" %>
                  <%= link_to_function "Remover selecionados", "$('#form_list').submit()", :class => "button" %>
                </div>
                <%=pagination @products %>
                <div class="clear"></div>
              </td>
            </tr>
          </tfoot>

          <tbody>
            <% @products.each do |product| -%>
              <tr class="<%= cycle("","alt-row") %>">
                <td> <%= check_box_tag "ids[]",product.id %></td>
                <td>
                  <h3><%=h product.name %></h3>
                </td>
                <td nowrap="nowrap">
                    <%= edit_icon(edit_product_path(product)) %>
                    <%= delete_icon(product_path(product)) %>
                </td>
              </tr>
            <% end -%>
          </tbody>

        </table>
      <% end %>

    </div> <!-- End #tab1 -->

  </div>

</div>