<% form_for @user_session do |f| %>
	<%= f.error_messages %>
	<%= f.label :login %><br />
  <%= f.text_field :login %><br />
	<%= f.label :password %><br />
  <%= f.password_field :password %><br />
	<%= f.submit "Entrar", :class => "btn-entrar" %>
<% end %>


