<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title><%= h(yield(:title) || "Projetos residenciais") %></title>

    <!--                       CSS                       -->

    <!-- Reset Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen" />

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" />

    <!-- Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid -->
    <link rel="stylesheet" href="/stylesheets/invalid.css" type="text/css" media="screen" />

    <link rel="stylesheet" href="/stylesheets/blue.css" type="text/css" media="screen" />


    <!-- Internet Explorer Fixes Stylesheet -->

    <!--[if lte IE 7]>
			<link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen" />
		<![endif]-->

    <!--                       Javascripts                       -->

    <!-- jQuery -->
		
    <script type="text/javascript" src="/javascripts/jquery-1.4.1.min.js"></script>

    <!-- jQuery Configuration -->
    <script type="text/javascript" src="/javascripts/simpla.jquery.configuration.js"></script>

    <!-- Facebox jQuery Plugin -->
    <script type="text/javascript" src="/javascripts/facebox.js"></script>

    <!-- jQuery WYSIWYG Plugin -->
    <script type="text/javascript" src="/javascripts/jquery.wysiwyg.js"></script>
		<script type="text/javascript" src="/javascripts/application.js"></script>
    <%=javascript_include_tag "jmask_min"%>

    <!-- Internet Explorer .png-fix -->

    <!--[if IE 6]>
			<script type="text/javascript" src="/javascripts/DD_belatedPNG_0.0.7a.js"></script>
			<script type="text/javascript">
				DD_belatedPNG.fix('.png_bg, img, li');
			</script>
		<![endif]-->
		<% javascript_tag do %>
      <%= yield(:jstemplates) %>
    <% end -%>

  </head>

  <body><div id="body-wrapper"> <!-- Wrapper for the radial gradient background -->

      <div id="sidebar"><div id="sidebar-wrapper"> <!-- Sidebar with logo and menu -->

          <h1 id="sidebar-title"><a href="#">Administração</a></h1>

          <!-- Logo (221px wide) -->
          <a href="#"><img id="logo" src="/images/logo.png" alt="Simpla Admin logo" /></a>

          <!-- Sidebar Profile links -->
          <div id="profile-links">
						Olá, <%=link_to current_user.name	, edit_user_path(current_user)%><br />
            <br />
            <a href="/" title="Visitar o site" target="_blank">Visitar o site</a> | <a href="<%=logout_url%>" title="Sair">Sair</a>
          </div>

          <ul id="main-nav">  <!-- Accordion Menu -->

            <li>
              <a href="<%=admin_root_path%>" class="nav-top-item no-submenu
                 <%=current_class("home")%>">Início
              </a>
            </li>
						<li>
              <a href="#"
                 class="nav-top-item <%=current_class([carts_path,project_modifications_path])%>">
					  		Pedidos
              </a>
              <ul>
                <li><%=link_to "Lista de pedidos", carts_path %></li>
                <li><%=link_to "Modificações", project_modifications_path %></li>
              </ul>
            </li>
            <li>
              <a href="#"
                 class="nav-top-item <%=current_class([products_path,product_values_path,product_attributes_path])%>">
					  		Produtos
              </a>
              <ul>
                <li><%=link_to "Novo produto", new_product_path %></li>
                <li><%=link_to "Lista de produtos", products_path %></li>
                <li><%=link_to "Lista de comentários", comments_path %></li>
								<li><%=link_to "Novo valor de produto", new_product_value_path %></li>
                <li><%=link_to "Lista de valores de produtos", product_values_path %></li>
								<li><%=link_to "Novo atributo de produto", new_product_attribute_path %></li>
                <li><%=link_to "Lista de atributos de produtos", product_attributes_path %></li>
              </ul>
            </li>
						<li>
              <a href="#"
                 class="nav-top-item <%=current_class([photos_path,photo3ds_path])%>">
					  		Fotos
              </a>
              <ul>
                <li><%=link_to "Nova foto", new_photo_path %></li>
                
                <li><%=link_to "Lista de fotos", photos_path %></li>
                
              </ul>
            </li>
						<li>
              <a href="#"
                 class="nav-top-item <%=current_class([categories_path,how_tos_path, news_index_path])%>">
					  		Cadastros gerais
              </a>
              <ul>
                <li><%=link_to "Nova categoria", new_category_path %></li>
                <li><%=link_to "Lista de categorias", categories_path %></li>
								<li><%=link_to "Nova pergunta frequente", new_how_to_path %></li>
                <li><%=link_to "Lista de perguntas frequentes", how_tos_path %></li>
								<li><%=link_to "Nova notícia", new_news_path %></li>
                <li><%=link_to "Lista de notícias", news_index_path %></li>
              </ul>
            </li>

						<li>
              <a href="#"
                 class="nav-top-item <%=current_class(product_types_path)%>">
					  		Valores
              </a>
              <ul>
                <li><%=link_to "Novo valor", new_product_type_path %></li>
                <li><%=link_to "Lista de valores", product_types_path %></li>
              </ul>
            </li>

						<li>
              <a href="#"
                 class="nav-top-item <%=current_class([build_costs_path,costs_path])%>">
					  		Custos
              </a>
              <ul>
								<li><%=link_to "Novo custo de obra", new_build_cost_path %></li>
                <li><%=link_to "Lista de custos de obra", build_costs_path %></li>
                <li><%=link_to "Novo custo", new_cost_path %></li>
                <li><%=link_to "Lista de custos", costs_path %></li>
              </ul>
            </li>

						<li>
              <a href="#"
                 class="nav-top-item <%=current_class(attributes_path)%>">
					  		Atributos
              </a>
              <ul>
                <li><%=link_to "Novo atributo", new_attribute_path %></li>
                <li><%=link_to "Lista de atributos", attributes_path %></li>
              </ul>
            </li>

						<li>
              <a href="#"
                 class="nav-top-item <%=current_class([copy_fees_path,tax_fees_path])%>">
					  		Taxas
              </a>
              <ul>
                <li><%=link_to "Editar taxa de cópia", new_copy_fee_path %></li>
                <li><%=link_to "Editar taxa de correios", new_tax_fee_path %></li>
              </ul>
            </li>

            <li>
              <a href="#"
                 class="nav-top-item <%=current_class(users_path)%>">
					Usuários
              </a>
              <ul>
                <li><%=link_to "Novo usuário", new_user_path %></li>
                <li><%=link_to "Editar seus dados", edit_user_path(current_user) %></li>
              </ul>
            </li>

          </ul> <!-- End #main-nav -->


        </div></div> <!-- End #sidebar -->

      <div id="main-content"> <!-- Main Content Section with everything -->

        <noscript> <!-- Show a notification if the user has disabled javascript -->
          <div class="notification error png_bg">
            <div>
						Javascript is disabled or is not supported by your browser. Please <a href="http://browsehappy.com/" title="Upgrade to a better browser">upgrade</a> your browser or <a href="http://www.google.com/support/bin/answer.py?answer=23852" title="Enable Javascript in your browser">enable</a> Javascript to navigate the interface properly.
            </div>
          </div>
        </noscript>

        <!-- Page Head -->

        <%=error_notification%>

        <%=yield %>


        <!-- End Notifications -->

        <div id="footer">
          <small>
            &#169; Copyright 2010 Admin | Powered by <a href="mailto:agc.rodrigo@gmail.com">Rodrigo Toledo</a> | <a href="#">Top</a>
          </small>
        </div><!-- End #footer -->

      </div> <!-- End #main-content -->

    </div></body>
</html>