<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%=yield(:title) || "Projetos Residenciais - Projetos, Casas, Apartamentos, Sobrados" %></title>
	<%=stylesheet_link_tag "layout", "site","slimbox2" %>
	<%=yield(:description) || "<meta name=\"description\" content=\"Projetos Residenciais - Crie, modifique e compre projetos para sua casa, apartamento e outros. Parcelamento em até 12x sem juros. Vale do aço, vale do rio doce, leste de minas, zona da mata\">"%>
	<%=yield(:keywords) || "<meta name=\"keywords\" content=\"projetos residenciais, arquitetura, caratinga, governador valadares, ipatinga, timoteo, coronel fabriciano, elegante, moderna, popular, 2 quartos, 3 quartos, sobrado, projeto, casa, apartamento\">"%>
	<meta name="google-site-verification" content="aHWlBbBE1nx19vcK_c00zbghkkDrctqlCrfst13KNKE" />

	
	 <script src="/javascripts/jquery-1.4.1.min.js" type="text/javascript"></script>
	 <script src="/javascripts/jquery.blockUI.js" type="text/javascript"></script>
	<script type="text/javascript" src="/javascripts/slimbox2.js"></script> 
	<script src="/javascripts/cufon-yui.js" type="text/javascript"></script>
	<script src="/javascripts/cufon-replace.js" type="text/javascript"></script>
	<script src="/javascripts/Arial_Narrow_700.font.js" type="text/javascript"></script>
	<script src="/javascripts/Arial_Narrow_400.font.js" type="text/javascript"></script>
	<script src="/javascripts/jquery.maskMoney.0.2.js" type="text/javascript"></script>
	<script src="/javascripts/application.js" type="text/javascript"></script>
	<%=javascript_include_tag "jmask_min"%>
	
</head>

<body class="page_all">
	<div id="main">
		<!--header -->
		<div id="header">
			<div class="container">
				<span class="date"><%=l Time.now, :format => :short %></span>
				<%form_tag(buscas_path,{:id => "SearchForm"}) do%>
				<form id="SearchForm" action="/buscas">
					<div>
						<%=hidden_field :search, :simple, :value => true%>
						<label><span>buscar</span><%=text_field :search, :content, :class => "input"%></label>
						<%=image_submit_tag "input-img.gif", :name => nil%>
					</div>
					<%end%>
				</div>
				<div class="container">
					<div class="logo">
						<a href="/" title="Projetos residenciais"><img src="/images/logo.gif" alt="Logo" title="projetos residenciais" /></a>
						<h1>Projetos Residenciais</h1>
					</div>
					<div class="sub-menu">
						<ul>
							<li class="bg1"><%=link_to_seo "Notícias", noticias_path %></li>
							<li class="bg2"><%=link_to_seo "Contato", contato_url%></li>
							<li class="bg3 last"><%=link_to_seo "Mapa", "/sitemap.xml" %></li>
						</ul>
					</div>
				</div>
				<div class="menu">
					<div class="menu-left">
						<div class="menu-right">
							<ul>
								<li <%=class_if_current_page(home_path)%>><a href="/" title="Início"><strong><strong>Início</strong></strong></a></li> 
								<li <%=class_if_current_page(projetos_path)%>><a href="<%=projetos_path%>" title="Projetos prontos"><strong><strong>Projetos prontos</strong></strong></a></li>
								<li <%=class_if_current_page(modificar_projeto_path)%>><a href="<%=modificar_projeto_path%>" title="Modificar projetos"><strong><strong>Modificar projeto</strong></strong></a></li>
								<li <%=class_if_current_page(crie_seu_projeto_path)%>><a href="<%=crie_seu_projeto_path%>" title="Crie seu projeto"><strong><strong>Crie seu projeto</strong></strong></a></li>
								<li <%=class_if_current_page(url_for(:controller => :carrinho))%>><a href="<%=url_for(:controller => :carrinho)%>" title="Carrinho de compras"><strong><strong>Meu carrinho</strong></strong></a></li>
								<li <%=class_if_current_page(contato_path,"last")%>><a href="<%=contato_path%>" title="Contato"><strong><strong>Contato</strong></strong></a></li>
							</ul>

						</div>
					</div>
				</div>
			</div>
			<!--header end-->


			<div id="content">
				<div class="indent">
					<div class="container">
						<div class="col-menu col-pad-small">
							<div id="left_menu">
								<h3>Menu</h3>
								<div id="left_menu_top"></div>
								<div id="left_menu_body">
									<ul>por categorias
										<% categories.each do |c|%>
										<li><%=link_to_seo c.name, categoria_path(c.public_id), :title => "categoria #{c.name}"%> (<%=c.products.count%>)</li>
										<% end %>
									</ul>

									<ul class="sep">mais opções
										<li><%=link_to_seo "Perguntas frequentes", perguntas_frequentes_path%></li>
										<li><%=link_to_seo "Notícias", noticias_path%></li>
										<li><%=link_to_seo "Política de privacidade", root_path%></li>
									</ul>
								</div>
								<div id="left_menu_footer"></div>
							</div>

							<div>
								
							</div>
						</div>
						<%= include_gritter %>

						<% if flash[:notice] %>
						<%= js add_gritter(flash[:notice], :image => :notice, :title => "Informação") %>
						<% end %>

						<% if flash[:error] %>
						<%= js add_gritter(flash[:error], :image => :error, :title => "Atenção") %>
						<% end %>
						<%=yield%>
					</div>
				</div>
			</div>
			<!--footer -->
			<div id="footer">
				<div class="container">
					<div class="col-1">
						<div class="footer-menu">
							<ul>
								<li><%=link_to_seo "Início", root_path%></li>
								<li><%=link_to_seo "Projetos prontos", projetos_path%></li>
								<li><%=link_to_seo "Modificar projeto", modificar_projeto_path%></li>
								<li><%=link_to_seo "Crie seu projeto", crie_seu_projeto_path%></li>
								<li><%=link_to_seo "Ajuda", ajuda_path%></li>
							</ul>
						</div>
						por: <em>Rodrigo Toledo e Henrique Calarga</em>  &copy; 2010 &nbsp;| &nbsp;<a href="/">Política de privacidade</a><br />
						<%=NumeroVisitante.count%> pessoas já visitaram este site
					</div>
					<div class="col-2">
						<strong class="title1">Acompanhe</strong>
						<div class="links">
							<%=link_to_seo image_tag_seo("twitter.jpg", :title => "Twitter"),"https://twitter.com/p_residenciais"%><%=link_to_seo image_tag_seo("mobile-me.jpg", :title => "Mobile-me"),"#"%><%=link_to_seo image_tag_seo("facebook.jpg", :title => "Facebook"),"http://www.facebook.com"%>
						</div>
					</div>
					<div class="col-3">
						<strong class="title1">E-mail</strong>
						<a href="mailto:niltonrezende@hotmail.com" class="mail">niltonrezende@hotmail.com</a>
					</div>
					<div class="left">
						<strong class="title1">Contato</strong>
						<div class="line">Telefone: (33) 8822-9467 | (33) 9127-0602<br />
							<strong>Caratinga</strong>, <strong>Governador Valadares</strong>, <strong>Ipatinga</strong>,<br />Timóteo, Coronel Fabriciano, <strong>Vale do aço</strong>,<br />Vale do rio doce, <strong>leste de minas</strong>, zona da mata.</div>
						</div>
					</div>
				</div>
				<!--footer end-->
			</div>
			<script type="text/javascript"> Cufon.now(); </script>
			<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-17270492-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();

				</script>
			</body>
			</html>
